@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html, body {
    height: 100%;
}
.navbar {
    font-family: 'Poppins', sans-serif;
    background: #242424 !important;
}
.navbar-brand {
    font-weight: bold;
    color: white !important;
}
.navbar-nav .nav-link {
    font-weight: 500;
    color: white !important;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ddd !important;
}
.main-content {
    flex: 1;
}
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
form {
    width: 100%;
}
form label {
    font-weight: 500;
    color: #f1f1f1;
}
form input,
form textarea {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
form input::placeholder,
form textarea::placeholder {
    color: #ccc;
}
form .btn-primary {
    background-color: #343a40;
    border: none;
    font-weight: bold;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
form .btn-primary:hover {
    background-color: #242424;
}
.contact-details {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 55px;
}
.contact-details h4 {
    margin-bottom: 10px;
    font-weight: 600;
}
.contact-details p {
    margin: 4px 0;
}
footer {
    background-color: #242424;
    padding: 18px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
@media (max-width: 768px) {
    footer {
        padding: 10px;
        font-size: 14px;
    }

    .contact-form-container {
        margin-top: 30px;
        padding: 15px;
    }

    form .btn-primary {
        padding: 10px 20px;
        font-size: 14px;
    }
}