@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('assets/img/sneakerbg1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    font-family: 'Poppins', sans-serif;
    background: #242424 !important;
}
.navbar-brand {
    font-weight: bold;
    color: white !important;
}
.navbar-nav .nav-link {
    font-weight: 500;
    color: white !important;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ddd !important;
}
.sneaker-item {
    margin-bottom: 30px;
}
.sneaker-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.sneaker-item h3 {
    margin-top: 15px;
    font-size: 20px;
}
.sneaker-item p {
    font-size: 14px;
    color: #ccc;
}
#noResultsMessage {
    transition: opacity 0.5s ease-in-out;
}
#searchInput,
#brandFilter {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: #343a40;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
#myBtn:hover {
    background-color: #495057;
}
footer {
    background-color: #242424;
    padding: 18px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}
@media (max-width: 768px) {
    footer {
        padding: 10px;
        font-size: 14px;
    }
    #searchInput,
    #brandFilter {
        max-width: 100%;
    }
}